/* SMALL PHONES */
@media screen and (max-width: 640px) {
  .footer-component {
    margin: 20rem 0 2rem 10rem !important;
  }

  .footer-component-copy {
    width: 100%;
    text-align: center;
  }
}
