/* SMALL PHONES */
@media screen and (max-width: 640px) {
  .threads-discuss-component {
    padding: 2rem;
  }

  .component-heading-threads {
    margin-left: 5rem;
  }

  .threads-discuss-component-card:nth-child(2),
  .threads-discuss-component-card-inner {
    margin: 0 2rem;
  }

  .threads-discuss-component-card,
  .threads-discuss-component-card-inner {
    width: 30rem !important;
    margin: 4rem 2rem;
  }

  .threads-discuss-component-card-inner-top {
    margin: 4rem;
  }

  .threads-discuss-component-card-inner-link {
    display: block;
    margin: 4rem 2rem;
  }

  .threads-discuss-component-card-inner-link p {
    display: none;
  }
}
