/* PHONES SMALL */
@media screen and (max-width: 640px) {
  .threads-cards {
    width: 75% !important;
    margin: 5rem auto;
  }

  .threads-cards-excerpt,
  .threads-cards-time {
    display: none;
  }

  .threads-cards-heading {
    font-size: 1.2rem;
  }
}
