/* SMALL PHONES */
@media screen and (max-width: 640px) {
  .author-sidebar {
    margin-left: 4rem !important;
  }

  .author-sidebar-about,
  .author-sidebar-date-value,
  .author-sidebar-threads-value {
    text-align: center;
  }

  .author-sidebar-date-title {
    margin: auto;
    text-align: center;
  }

  .author-sidebar-threads-title {
    margin: auto;
  }
  .author-trending {
    display: none;
  }

  .author-posts {
    position: relative !important;
    margin: 5rem -11rem !important;
  }

  .author-posts-desc {
    width: 75% !important;
  }

  .author-posts-grid {
    margin-top: 3rem !important;
    margin-left: 28rem !important;
    display: block !important;
  }
}
