@media screen and (max-width: 640px) {
  .blogpage-component {
    margin: 2rem;
  }

  h3 {
    width: 50% !important;
    font-size: 1.3rem !important;
    line-height: 2rem !important;
  }

  input {
    margin-right: 10rem !important;
    padding-right: 5rem !important;
  }

  .blogpage-component-details-message {
    padding: 0 5rem;
  }

  .blogpage-component-details-message-text {
    width: 60% !important;
    padding: 0;
    margin: 1rem 18rem !important;
  }

  .blogpage-component-details-message-comment {
    margin-top: 12rem !important;
  }

  .comments {
    margin: 3rem 0;
  }

  .blog-stats {
    margin: auto;
  }

  .blogpage-component-details-author {
    margin: 0 25rem !important;
  }

  .blogpage-component-details-comments-others {
    margin-bottom: 5rem;
  }

  .blogpage-component-details-comments-others-1 {
    display: flex;
    margin: 6rem 0rem;
  }

  .blogpage-component-details-comments-others-5,
  .blogpage-component-recent-topics,
  .blogpage-component-details-comments-others-4,
  .comments {
    display: none;
  }

  .footer {
    width: 150%;
  }
}
