:root {
  --white-10: #fafafb;
  --grey-60: #7e7e7f;
  --grey-20: #f1f1f1;
  --grey-10: #e4e4e4a9;

  --peach: #ffb9c2;
  --primaryPurple: #9250b4;
  --primaryPurpleFaded: #fbf3ff;
  --secondaryPurple: #b381f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.horizontal-rule {
  margin: 1rem 1rem;
  border: 1px solid var(--grey-10);
}
