/* SMALL PHONES */
@media screen and (max-width: 640px) {
  .trending {
    margin: 0 auto;
    width: 80%;
  }

  .component-heading p {
    font-size: x-large;
    margin-left: 0.4rem;
  }

  .trending-link {
    display: none;
  }

  .trending-cards-container-card img {
    width: 100%;
  }

  .trending-cards-container-card-author {
    margin: 0.5rem 0;
  }

  .trending-cards-container-card-title {
    margin-bottom: 4rem;
  }
}

/* SMALL TABLETS */
@media screen and (min-width: 768px) {
  .trending {
    margin: 0 auto;
  }
}
