/* SMALL PHONES */
@media screen and (max-width: 640px) {
  .trending {
    margin: 0 auto;
    width: 50%;
  }

  .trending-link {
    display: none;
  }

  .trending-cards-container-card img {
    width: 100%;
  }

  .trending-cards-container-card-author {
    margin: 0.5rem 0;
  }

  .trending-cards-container-card-title {
    margin-bottom: 4rem;
  }
}
