@media screen and (max-width: 640px) {
  .header-component {
    display: block;
    margin: 0 !important;
  }

  .header-component-logo {
    display: block;
    margin: 0 15rem;
  }

  .header-component-search {
    display: none;
  }

  .header-component-btn {
    display: none;
  }
}
