/* SMALL PHONES */
@media screen and (max-width: 640px) {
  .header-component {
    margin: 0 auto;
    display: block;
  }

  .header-component-logo img {
    display: block;
    margin: 0 auto;
  }

  .header-component-search,
  .header-component-btn {
    display: none;
  }
}
