.forum-content-feed-card {
  display: flex;
  padding: 1rem;
}

.forum-content-feed-card:hover {
  border-radius: 10px;
  box-shadow: 5px 0 30px rgba(146, 80, 180, 0.11);
  -webkit-box-shadow: 5px 0 30px rgba(146, 80, 180, 0.11);
  -moz-box-shadow: 5px 0 30px rgba(146, 80, 180, 0.11);
  transition: all 0.2s;
}

.forum-content-feed-card-icon-container {
  width: 4rem;
  height: 4rem;
  background-color: var(--primaryPurpleFaded);
  border-radius: 20%;
}

.forum-content-feed-card-icon-container svg {
  margin: 1rem;
  font-size: 2rem;
  color: var(--primaryPurple);
}

.forum-content-feed-card-info {
  width: 40%;
  margin-left: 1rem;
}

.forum-content-feed-card-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.forum-content-feed-card-info-tags {
  display: inline;
  margin: 0 1rem;
  color: var(--primaryPurple);
  text-decoration: none;
  background-color: var(--primaryPurpleFaded);
  padding: 5px 10px;
  border-radius: 10px;
}

.desc {
  color: var(--grey-60);
  margin-top: 0.5rem;
}

.forum-content-feed-card-info-desc {
  margin-top: 0.5rem;
  color: var(--grey-60);
}

.forum-content-feed-card-info-link {
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
  color: var(--primaryPurple);
}

/* .forum-content-feed-card-info-goto {
  margin: 0 1rem;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  background-color: #ffb9c277;
  color: #000;
  border-radius: 5px;
} */

.forum-content-feed-card-topic,
.forum-content-feed-card-posts,
.forum-content-feed-card-freshness {
  margin-left: 1rem;
  color: var(--grey-60);
}

.forum-content-feed-card-posts {
  margin-left: 5.5rem;
}

.forum-content-feed-card-freshness {
  margin-left: 7rem;
  text-align: center;
}

.forum-content-feed-card-freshness-author {
  margin: 1rem auto;
  font-size: 1.2rem;
  color: #000;
}

.forum-content-feed-card-information {
  display: flex;
  margin: 1rem 3rem;
}
